.card {
  flex-shrink: 0;
  border-radius: 3px;
  margin: 20px 50px;
  width: 260px;
  background-size: cover;
  height: 400px; }

.movie-title {
  height: 65px;
  font-size: 1.7em;
  width: 314px;
  margin: 0 auto; }

.favorite-btn {
  background-image: url("../../assets/heart-outline.svg");
  background-repeat: no-repeat;
  border: none;
  width: 30px;
  height: 30px; }
  .favorite-btn:hover {
    background-image: url("../../assets/heart-filled.svg");
    width: 30px;
    height: 30px;
    background-size: cover; }

.favorite {
  background-image: url("../../assets/heart-filled.svg");
  width: 30px;
  height: 30px;
  background-size: cover; }

#not-signed-in {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  background-color: #9c7e92;
  width: 260px;
  height: 43px;
  position: absolute;
  bottom: 0px;
  margin: 0px 0 0 50px;
  z-index: 1; }
